// Navigation code here
.navparent{
    // text-align: center;
    max-width: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding:1% 0;
    background-color: @nav-bg;
    border: 1px solid @nav-border;

    h1{
        font-size: 4rem;
    }

    nav{
        width:40%;
        display: flex;
        justify-content: space-evenly;
        padding: 1% 0;

        a{
            color:@nav-font;   
            // font-family: @nav-font; 
            font-size: 1.5rem;
            text-decoration: none;
            // font-family: @nav-font;

        }
    
    }
}

